html {
	max-width: 800px;
	/*padding: 5px 20px 5px 20px;*/
    margin: auto;
	background-color: #ffffff;
	/*opacity: 0.6;*/
/*	background-size: 10px 10px;
	background-image: repeating-linear-gradient(45deg, #d4d5da 0, #d4d5da 1px, #ffffff 0, #ffffff 50%);*/
}

html, body{
	font-family: 'Space Mono';
}

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
*/

.navbar {
	border-bottom: solid 2px black;
}

.navbar-light {
	background-color: none;
}

.navbar-toggler {
	border: none;
}

.footer {
	background-color: none;
	border-top: solid 2px black;
}
