<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->
  <!-- <meta name="robots" content="noindex"> -->
  <!-- <meta name="googlebot" content="noindex"> -->

  <title>{{ site.title }}</title>

  <link rel="icon" type="image/png" href="/favicon.png">

  <!-- <link rel="stylesheet" href="css/app.css"> -->
  <link rel="stylesheet" href="{{ 'css/app.css' | absolute_url }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space Mono">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script> -->

</head>