<nav id="navbar">
  <div>
    <a id="navbar-title" href="{{ site.url }}">{{ site.title }}</a>
    <div id="navbar-nav">
      <a class="nav-link" href="{{ site.baseurl }}/home_t">Home_t</a>
      <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
      <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
      <a class="nav-link" href="{{ site.baseurl }}/md-cheatsheet">_md</a>
      <a class="nav-link" href="{{ site.baseurl }}/test_page">_test</a>
    </div>
  </div>
</nav>