$font-family: Space Mono

html
    max-width: 800px
    margin: auto

body
    font-family: $font-family

hr
    border: none
    background-color: $font-color
    height: 2px

// Canvas
canvas
    display: block
    margin: auto

#content
  flex: 1 0 auto

.navbar-light
    background-color: none

.navbar-toggler 
    border: none

.footer
    background-color: none
    border-top: solid 2px black