$font-family: Space Mono

html
    max-width: 800px
    margin: auto

body
    font-family: $font-family

#content
  flex: 1 0 auto

.navbar-light
    background-color: none

.navbar-toggler 
    border: none

.footer
    background-color: none
    border-top: solid 2px black